html, body {
    font-family:'PT Serif', Times, serif;
    background-color: var(--color-bg);
}
.korean {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Main */
main {
    margin: 5rem 0;
    color: var(--color-black);
    font-size: 1.2rem;
    text-align: left;
    padding: 0;

    display: flex;
    justify-content: center;
}
main > div {
    position: relative;
    width: 794px;
    max-width: 90%;
    background-color: var(--color-beige);
}
article {
    padding: 0 3rem 3rem;
}

/* Contents */
p, main > div div {
    margin-bottom: 0.5rem;
    text-indent: 0.5em;
}
h1, h2 { color: var(--color-bg); }
h1 {
    margin: 1em;
    text-align: center;
    font-size: 3rem;
}
hr {
    margin: 0;
    border: 1px solid var(--color-bg);
}
.u { text-decoration: underline; }
main a {
    color: var(--color-bg);
    text-shadow: var(--color-shadow) 0 0 1px;
}
main a:hover {
    color: var(--color-beige);
    background-color: var(--color-bg);
}

/* Home link */
.home {
    text-decoration: none;
    z-index: 10000;
    position: fixed;
    display: block;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;

    font-family: 'Catamaran', sans-serif;
    color: var(--color-bg);
    border: 3px solid var(--color-bg);
    border-radius: 3rem;
    background-color: var(--color-beige);

    transition: transform 0.2s;
}

.home:hover {
    transform: scale(1.3);
}

/* Responsive */
@media screen and (max-height: 600px) {
    main { margin-top: 0; margin-bottom: 0; }
}
@media screen and (max-width: 720px) {
    main { margin-top: 0; margin-bottom: 0; }
    main > div { max-width: 100%; }
    .home {
        color: var(--color-beige);
        border: 3px solid var(--color-beige);
        background-color: var(--color-bg);
    }
}

/* Print */
@media print {
    :root {
        --color-bg: black;
        --color-beige: white;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    main {
        margin-top: 0;
        margin-bottom: 0;
    }
    main > div { max-width: 100%; }
    .home { display: none; }
}
