/* Small Screen */
@media screen and (max-width: 820px) {
    .exam {
        overflow-x: hidden;
    }
    .exam section {
        width: 100%;
        padding-left: calc(64px + (100% - 794px) / 2);
        padding-right: calc(64px + (100% - 794px) / 2);
    }
}
@media screen and (max-width: 680px) {
    .exam {
        overflow-x: auto;
    }
    .exam-type {
        display: none;
    }
    .exam section {
        width: 100%;
        min-width: 360px;
        min-height: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .exam header {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid var(--color-black);
    }
    .exam > section:first-child > header {
        border-top: none;
    }
    .exam header::before {
        display: none;
    }
    .exam footer {
        display: none;
    }
    .exam .col1, .exam .col2 {
        width: 321px;
        height: auto;
        border: none;
        padding: 0;
        justify-self: center;
    }
    .exam article {
        height: auto;
        min-height: 0 !important;
        margin-bottom: 150px !important;
    }
    .exam h2 { font-size: 20px; }
    .exam h3 { font-size: 15px; margin-top: 15px; }
}

/* Print */
@page {
    size: 794px 1123px;
    margin: 0px;
}
@media print {
    :root {
        --color-paper: white;
        --color-gray: #ccc;
        --color-black: black;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .exam section {
        width: 794px;
        height: 1123px;
        margin: 0;
        overflow: hidden;
        page-break-before: always;
        box-shadow: none;
    }
    .exam img { mix-blend-mode: normal; }
}
