html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-beige);
    color: var(--color-black);
}
body { counter-reset: page-total page question; }
.MathJax { font-size: 100% !important; }

/* Fonts */
h1, h2, .elective-type {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}
h3 { font-family: 'Asap Condensed', sans-serif; }
article { font-family:'PT Serif', Times, serif; }
header::before, article::before, footer, article small {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: normal;
}
.question-type {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
}
.format-old h1, .format-old h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

/* Page */
section {
    position: relative;
    width: 794px; /* 210mm */
    min-height: 1123px; /* 297mm */
    margin: 32px auto;
    padding: 72px 64px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-shadow: var(--color-shadow) 6px 6px 10px;
    background-color: var(--color-paper);

    /* Grid settings */
    display: grid;
    grid-template-rows: minmax(48px, auto) 1fr 48px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " header header "
        " col1 col2 "
        " footer footer ";
}
.format-old section {
    grid-template-rows: minmax(48px, auto) 1fr 0px;
}

/* Header */
header {
    grid-area: header;
    border-bottom: 1px solid var(--color-black);
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* Controlling page number */
header::before {
    counter-increment: page;
    content: counter(page);

    position: absolute;
    top: 8px;
    margin: 0;
    font-size: 34px;
    line-height: 34px;
}
.format-old header::before {
    top:12px;
}
section:first-child > header::before,
section.question-reset-23 > header::before {
    top: -8px;
}
section:nth-of-type(odd) header::before { right: 0; }
section:nth-of-type(even) header::before { left: 0; }

/* Resetting question or page */
.question-reset-23 {
    /* used in 2021~ */
    counter-reset: page 0 question 22;
}
.question-reset-26 {
    /* used in 2006~2013 */
    counter-reset: question 25;
}

/* Title (first page) */
h1 {
    margin: 0;
    font-size: 40px;
}
.format-old h1 {
    margin: 0 0 4px;
    font-size: 36px;
}
/* Title (all other pages) */
h2 {
    margin: 0 0 -4px;
    font-size: 30px;
}
.format-old h2 {
    margin: 0 0 2px;
    font-size: 28px;
}
/* Subtitle (first page) */
h3 {
    margin: 0 0 -4px;
    font-size: 20px;
    font-weight: normal;
}

/* Question container */
.col1, .col2 {
    position: relative;
    overflow: hidden;
}
.col1 {
    grid-area: col1;
    padding-right: 12px;
}
.col2 {
    grid-area: col2;
    border-left: 1px solid var(--color-black);
    padding-left: 12px;
}

/* Question */
article {
    min-height: 50%;
    margin-top: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 20px;

    font-size: 13px;
}
article::before {
    counter-increment: question;
    content: counter(question) ". ";
    margin-left: -12px;
    margin-right: 4px;
    font-size: 15px;
}
.article-3 > article {
    min-height: 33%;
}

/* Question Type */
.question-type {
    display: inline-block;
    margin: 8px 0 0;
    border: 1px solid var(--color-black);
    padding: 2px 16px;

    font-size: 13px;
}
/* Offseting the question after .question-type */
.question-type + article { margin-bottom: -33px; }
/* Elective subject type */
.elective-type {
    margin: 8px 0 16px;
    background-color: var(--color-gray);
    
    text-align: center;
    font-size: 26px;
    line-height: 40px;
}
.elective-type + article { margin-bottom: -53px; }


/* Choices */
article > ol, .select {
    margin: 16px 0;
    padding: 0;
    display: flex;

    justify-content: space-between;
    align-items: baseline;
    /* list-style-type: symbols(cyclic "①" "②" "③" "④" "⑤"); */
    list-style-type: none;
}
ol.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
ol.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ol.col-1 {
    display: block;
}
:is(article > ol, .select) > li { margin-bottom: 8px; }
ol.col-1 > li {
    margin-bottom: 4px;
    margin-left: 22px;
    text-indent: -22px;
}
ol.col-1 > li::before {
    margin-right: 6px;
}
:is(article > ol, .select) > li:nth-child(1)::before { content: "① "; }
:is(article > ol, .select) > li:nth-child(2)::before { content: "② "; }
:is(article > ol, .select) > li:nth-child(3)::before { content: "③ "; }
:is(article > ol, .select) > li:nth-child(4)::before { content: "④ "; }
:is(article > ol, .select) > li:nth-child(5)::before { content: "⑤ "; }
:is(article > ol, .select)::after { content: ""; }


/* Various elements inside questions */
/* "[N points]" element */
article > small {
    margin-left: 4px;
    letter-spacing: -0.2px;
}
article small.right {
    display: block;
    text-align: right;
}
/* a paragraph tabbed in */
.tab, .tab-short { margin-left: 32px; }
.box .tab, .box .tab-short { margin-left: 20px; }
/* a paragraph centered */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* a box with outline */
.box, .box-list {
    margin-right: 8px;
    border: 1px solid var(--color-black);
    padding: 6px 10px;
}
/* the <List> box */
.box-list { position: relative; }
.box-list::before {
    content: "< L i s t >";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-11px);
    padding: 0 1px;
    text-align: center;
    background-color: var(--color-paper);
}
.tab, .center, .box, .box-list {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* inline box */
.inline-box {
    border: 1px solid var(--color-black);
    padding: 1px 8px;
    font-size: 95%;
}

/* table */
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid var(--color-black);
    text-align: center;
    padding: 4px 8px;
}
.short th, .short td {
    padding: 0px 8px;
}

/* Lists */
/* (A) (B) (C) - used in .box on its own */
ol.upper {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
    /* Why is ::marker not supported on my phone? */
}
ol.upper > li { margin: 2px 0 2px 28px; }
ol.upper > li::before {
    display: inline-block;
    letter-spacing: -0.5px;
    width: 28px;
    margin-left: -28px;
    margin-right: -4px;
}
ol.upper > li:nth-child(1)::before { content: "(A)"; }
ol.upper > li:nth-child(2)::before { content: "(B)"; }
ol.upper > li:nth-child(3)::before { content: "(C)"; }

/* (i) (ii) (iii) - used in .box between paragraphs */
ol.roman {
    padding-inline-start: 0;
    list-style-type: none;
}
ol.roman > li { margin: 2px 0 2px 22px; }
ol.roman > li::before {
    display: inline-block;
    letter-spacing: -0.7px;
    width: 22px;
    margin-left: -22px;
    margin-right: -4px;
}
ol.roman > li:nth-child(1)::before { content: "(i)"; }
ol.roman > li:nth-child(2)::before { content: "(ii)"; }
ol.roman > li:nth-child(3)::before { content: "(iii)"; }
ol.roman > li:nth-child(4)::before { content: "(iv)"; }
ol.roman > li:nth-child(5)::before { content: "(v)"; }

/* a. b. c. - used in .box-list */
ol.alpha {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 14px;
    list-style-type: lower-alpha;
}
ol.alpha > li { margin: 2px 0; }

/* Images */
img {
    max-width: 100%;
    mix-blend-mode: multiply; /* remove white background */
}

/* letter spacing */
.shrink-1 {
    letter-spacing: -0.2px;
}
.shrink-2 {
    letter-spacing: -0.5px;
}

/* vertical spacing */
.space { margin-bottom: 8px;}

/* Footer */
footer {
    grid-area: footer;
    justify-self: center;
    align-self: center;
    width: 48px;
    height: 15px;
    
    border: 1px solid var(--color-black);
    padding: 9px 4px 0;
    position: relative;

    font-size: 12px;
    text-align: right;
}
footer::before {
    float: left;
    margin-top: -9px;
    counter-increment: page-total;
    content: counter(page-total);
}
footer::after {
    position:absolute;
    bottom: -1px;
    left: 0;
    width:61px;
    border-top:1px solid var(--color-black);
    transform: rotate(-23.2deg);
    transform-origin: 0% 100%;
    content: "";
}


/* Small Screen */
@media screen and (max-width: 794px) {
    
}
@media screen and (max-width: 680px) {
    section {
        width: 100%;
        min-width: 360px;
        margin: 0;
        padding: 32px 0;
        grid-template-rows: minmax(32px, auto) max-content max-content 60px;
        grid-template-columns: 1fr;
        grid-template-areas:
            " header "
            " col1 "
            " col2 "
            " footer ";
    }
    .format-old section {
        grid-template-rows: minmax(32px, auto) max-content max-content 0px;
    }
    .col1, .col2 {
        width: 321px;
        height: max-content;
        border: none;
        padding: 0;
        justify-self: center;
    }
    article {
        height: max-content;
        min-height: 0 !important;
        margin-bottom: 150px !important;
    }
    h1, .format-old h1 { font-size: 25px; }
    h2, .format-old h2 { font-size: 20px; }
    h3, .format-old h3 { font-size: 15px; }
    header::before, .format-old header::before {
        font-size: 22px;
        top:0px;
    }
}

/* Print */
@page {
    size: 794px 1123px;
    margin: 0px;
}
@media print {
    :root {
        --color-paper: white;
        --color-black: black;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    section {
        width: 794px;
        height: 1123px;
        margin: 0;
        overflow: hidden;
        page-break-before: always;
        box-shadow: none;
    }
    img { mix-blend-mode: normal; }
}
