/* Small Screen */
@media screen and (max-width: 794px) {
    
}
@media screen and (max-width: 680px) {
    .exam section {
        width: 100%;
        min-width: 360px;
        margin: 0;
        padding: 32px 0;
        grid-template-rows: minmax(32px, auto) max-content max-content 60px;
        grid-template-columns: 1fr;
        grid-template-areas:
            " header "
            " col1 "
            " col2 "
            " footer ";
    }
    .exam.old section {
        grid-template-rows: minmax(32px, auto) max-content max-content 0px;
    }
    .exam .col1, .exam .col2 {
        width: 321px;
        height: max-content;
        border: none;
        padding: 0;
        justify-self: center;
    }
    .exam article {
        height: max-content;
        min-height: 0 !important;
        margin-bottom: 150px !important;
    }
    .exam h1 { font-size: 25px; }
    .exam h2 { font-size: 20px; }
    .exam h3 { font-size: 15px; }
    .exam header::before {
        font-size: 22px;
        top:0px;
    }
}

/* Print */
@page {
    size: 794px 1123px;
    margin: 0px;
}
@media print {
    :root {
        --color-paper: white;
        --color-black: black;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .exam section {
        width: 794px;
        height: 1123px;
        margin: 0;
        overflow: hidden;
        page-break-before: always;
        box-shadow: none;
    }
    .exam img { mix-blend-mode: normal; }
}
