html {
    --color-white: white;
    --color-gray: #ccc;
    --color-black: black;
    --color-paper: #fffbf7;
    --color-beige: #d8d1c7;
    --color-select: #ffe6c0;
    --color-bg: #475365;
    --color-shadow: #504d4b;
}

html, body {
    margin: 0;
    padding: 0;
}
