html {
    --color-white: white;
    --color-gray: #ccc;
    --color-black: black;
    --color-paper: #fffbf7;
    --color-beige: #e2d8c9;
    --color-select: #ffe6c0;
    --color-brown: #6d5c4d;
    --color-shadow: #504d4b;
}

html, body {
    margin: 0;
    padding: 0;
}