main {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: minmax(80px, 20%) 1fr;
    grid-template-areas:
        "flavor-text flavor-text"
        "aside details";
}

/* Flavor text */
.flavor-text {
    grid-area: flavor-text;
    background-color: var(--color-beige);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flavor-text > div {
    font-size: clamp(12px, 4vw, 20px);
    font-weight: bold;
    font-style: italic;
    color: var(--color-brown);
    text-align: center;
}

/* Header */
@keyframes header-shrink {
    0%, 15% {
        height: 100%;
        top: 0;
        transform: translateY(0px);
    }
    33%, 100% {
        height: 150px;
        top: 50%;
        transform: translateY(-80px);
    }
}
#title {
    animation: header-shrink 7s ease-in-out 0s forwards;
}

@keyframes disappear {
    0%, 50% { opacity: 1; }
    100% { opacity: 0; }
}
#title .title-dots > div { animation: disappear 1s linear 0s forwards; }

@keyframes title-move {
    0%, 15% {
        width: 35%;
        min-width: 100px;
        max-width: 200px;
    }
    30%, 100% {
        width: 17.5%;
        min-width: 60px;
        max-width: 80px;
    }
}
#title .title-container { animation: title-move 7s ease-in-out 0s forwards; }

@keyframes thicken-width { 0%, 5% {width: 4%;} 20%, 100% {width: 8%;} }
#title .s-inf { animation: thicken-width 7s ease-in-out 0s forwards; }

@keyframes thicken-height { 0%, 5% {height: 4%;} 20%, 100% {height: 8%;} }
#title .s-0,
#title .s-1 { animation: thicken-height 7s ease-in-out 0s forwards; }


/* Header border */
.header-border {
    position: absolute;
    inset: 50% 0 auto;
    min-height: 180px;
    transform: translateY(-50%);
    background-color: var(--color-beige);
}
