html {
    font-family:'PT Serif', Times, serif;
    background-color: var(--color-bg);
    overflow: hidden;
}
.korean {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Title */
#title {
    position: absolute;
    z-index: 10000;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background-color: transparent;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* Title Animation */
@keyframes header-shrink {
    0%, 15% { height: 100%; top: 0; background-color: var(--color-bg); }
    25% { background-color: var(--color-bg); }
    33%, 100% { height: 6.25rem; top: 5rem; background-color: transparent; }
}
#title:target { animation: header-shrink 7s ease-in-out 0s forwards; }
@keyframes disappear {
    0%, 50% { opacity: 1; }
    100% { opacity: 0; }
}
#title:target .title-dots > div { animation: disappear 1s linear 0s forwards; }
@keyframes title-move {
    0%, 15% {
        width: 35%;
        min-width: 100px;
        max-width: 200px;
    }
    30%, 100% {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }
}
#title:target .title-container { animation: title-move 7s ease-in-out 0s forwards; }
@keyframes thicken-width { 0%, 5% {width: 4%;} 20%, 100% {width: 8%;} }
#title:target .s-inf { animation: thicken-width 7s ease-in-out 0s forwards; }
@keyframes thicken-height { 0%, 5% {height: 4%;} 20%, 100% {height: 8%;} }
#title:target .s-0,
#title:target .s-1 { animation: thicken-height 7s ease-in-out 0s forwards; }

/* Main */
main {
    position: absolute;
    inset: 5rem 0 0;
    color: var(--color-beige);
    font-size: 1.2rem;
    text-align: center;

    display: flex;
    justify-content: center;
}
main > div {
    position: relative;
    width: 794px;
    max-width: 90%;
    border: 3px solid var(--color-beige);
    border-bottom: none;
}
main > div > .title-space {
    height: 6.25rem;
}

/* Zye Presents */
main > div > small {
    position: absolute;
    left: 0.125rem;
    font-family: 'Asap Condensed', sans-serif;
    margin-top: -1.125rem;
}

/* Flavor text */
.flavor-text {
    height: 40px;
    background-color: var(--color-beige);
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: var(--color-bg);
}

/* Links */
a { text-decoration: none; }
/* Usual */
.exam-container a {
    display: block;
    margin: 1rem 1rem 3rem;
    border: none;
    padding: 0.25rem;

    font-size: 3rem;
    font-family:'PT Serif', Times, serif;
    font-weight: bold;
    text-align: center;
    color: var(--color-beige);
    background-color: var(--color-black);

    transition: transform 0.2s;
}

.exam-container a:hover {
    background-color: var(--color-bg);
    transform: scale(1.1);
}

/* Small screen */
.small-screen-link {
    display: none;
    margin: 1.5rem 3rem 0;
    border: 1px solid var(--color-beige);
    border-radius: 50rem;
    padding: 0;
    box-shadow: var(--color-black) 4px 4px 3px;

    font-size: 2rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--color-bg);
    background-color: var(--color-beige);
}


/* Example Exam */
.exam-container {
    position: relative;
}
.exam-container2 {
    position: absolute;
    left: 50%;
    background-color: transparent;
    text-align: left;
    transform: translate(-50%, -11rem) scale(0.6) skew(357deg, 3deg);
}
.exam-page {
    position: absolute;
    width: 794px;
    min-height: 1123px;
    box-shadow: var(--color-shadow) 6px 6px 10px;
    background-color: var(--color-beige);
}
.exam-page:nth-of-type(1) {
    transform: rotate(-8deg) translate(-0.5%, 5%);
    opacity: 0.6;
}
.exam-page:nth-of-type(2) {
    transform: rotate(-5deg) translate(-0.5%, 4%);
    opacity: 0.7;
}
.exam-page:nth-of-type(3) {
    transform: rotate(-2deg) translate(-0.3%, 3%);
    opacity: 0.8;
}
.exam section {
    min-height: 1123px;
    margin: 0;
    padding-bottom: 0;
    grid-template-rows: minmax(48px, auto) 1fr;
    background-color: var(--color-beige);
}

/* Gradient */
main::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 20%;
    background: linear-gradient(180deg, transparent 0%, var(--color-bg) 80%);
}

/* Responsive */
@media screen and (max-height: 600px) {
    main::after { height: 0; }
    main, #title { top: 0; }
    main > div { border-top: none; }
}

@media screen and (max-width: 720px) {
    /* main::after { height: 0; } */
    main, #title { top: 0; }
    main > div { max-width: 100%; border: none; }
    main > div > small { display: none; }

    .small-screen-link { display: block; }
    .exam-container a { display: none; }
    .exam-container2 { transform: translate(-50%, -15rem) scale(0.45) skew(357deg, 3deg); }
}

@media screen and (max-width: 480px) {
    .exam-container2 { transform: translate(-50%, -23rem) scale(0.3) skew(357deg, 3deg); }
}