html {
    background-color: var(--color-brown);
}
.korean {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Header Animation */
@keyframes header-shrink {
    0%, 15% { height: 100%; }
    33%, 100% { height: 100px; }
}
#title {
    animation: header-shrink 7s ease-in-out 0s forwards;
}

@keyframes disappear {
    0%, 50% { opacity: 1; }
    100% { opacity: 0; }
}
#title .title-dots > div { animation: disappear 1s linear 0s forwards; }

@keyframes title-move {
    0%, 15% {
        width: 35%;
        min-width: 100px;
        max-width: 200px;
    }
    30%, 100% {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }
}
#title .title-container { animation: title-move 7s ease-in-out 0s forwards; }

@keyframes thicken-width { 0%, 5% {width: 4%;} 20%, 100% {width: 8%;} }
#title .s-inf { animation: thicken-width 7s ease-in-out 0s forwards; }

@keyframes thicken-height { 0%, 5% {height: 4%;} 20%, 100% {height: 8%;} }
#title .s-0,
#title .s-1 { animation: thicken-height 7s ease-in-out 0s forwards; }


/* Main */
main {
    position: absolute;
    inset: 0;
    
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "flavor-text"
        "text";
}

/* Flavor text */
.flavor-text {
    grid-area: flavor-text;
    background-color: var(--color-beige);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flavor-text > div {
    font-size: clamp(12px, 4vw, 20px);
    font-weight: bold;
    font-style: italic;
    color: var(--color-brown);
    text-align: center;
}

/* Example Exam */
.exam-small {
    background-color: transparent;
    transform: scale(0.8);
}
.exam-small section {
    min-height: 500px;
    padding-bottom: 0;
    grid-template-rows: minmax(48px, auto) 1fr;
    background-color: var(--color-beige);
}
.exam-small section::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 200px;
    background: linear-gradient(180deg, transparent 0%, var(--color-brown) 80%);
    transform: scale(1.2);
}

/* Main text */
.text {
    grid-area: text;
    position: relative;
    padding: 16px;
    color: var(--color-beige);
    font-size: 1.2rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.text > div {
    position: relative;
    width: 80%;
    min-width: 250px;
}
hr {
    border: none;
    border-top: 1px solid var(--color-beige);
}
h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}
.text button {
    margin: 8px;
    border: none;
    padding: 4px 16px;

    font-size: 1.4rem;
    font-family:'PT Serif', Times, serif;
    font-weight: bold;
    color: var(--color-brown);
    background-color: var(--color-beige);
    
    cursor: pointer;
}
.to-list {
    font-size: 80%;
    text-align: right;
    font-family: 'Asap Condensed', sans-serif;
}
.to-list a {
    color: var(--color-paper);
    margin-left: 4px;
}

